<div ng-controller='PostController'>
   <div class= 'panel panel-warning'>
     <div class='panel-heading'>
         <h2 class='panel-title'>Post a Recipe</h3>
      </div>
      <div class='panel-body'>
      <form name='postRecipeForm' ng-submit='postRecipe()'>
      <!-- title -->
      <label for='formGroupInputLarge'>Recipe Name</label>
       <input class='form-control input-lg' type='text'ng-model='recipe.title'required=''> <br>
      <!--   image_url-->
      <label for='formGroupInputLarge'>Image</label>
      <input class='form-control input-lg' placeholder='example: https://website.com/image' type='text'ng-model='recipe.image_url'><br>
      <!--   ingredients -->
      <label for='formGroupInputLarge'>Ingredients</label>
      <input class='form-control input-lg' type='ingredientsInput'ng-model='recipe.ingredients'placeholder='example: 1 cup of flour, 1 tablespoon of sugar' required=''><br>
      <!--   directions -->
      <label for='formGroupInputLarge'>Directions</label>
      <input class='form-control input-lg' type='text' ng-model='recipe.directions' placeholder='example: preheat oven, put dry ingredients in a large bowl'required=''><br>
      <!--   groups: Array[obj] -->
      <!-- Should this be a drop down option? -->
      <label for='formGroupInputLarge'>Share with Group</label>
      <input class='form-control input-lg' type='text' ng-model='recipe.groups' placeholder='example: group1, group2, group3' required=''><br>

      <!-- submit button -->
      <button class='btn-warning' type='submit'>Submit</button>

</div>
   </div>
</div>
    
    







<!-- Database Recipe SCHEMA
   id: Number, unique
  title: String,
  image_url: String,
  ingredients: Array[str]
  directions: String,
  author: String
  likedBy: Array[obj]
  dislikedBy: Array[obj]
  groups: Array[obj]
  reviews: Array[obj] -->
