<link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<h3>Hello {{user.username}} !</h3>

<div id = "profilerecipes" class = "col-md-4">
<h4>Your Public Recipes:</h4>
  <ul>
    <li ng-repeat="recipe in userrecipes">
    	<p ng-model= 'recipe.title' ng-click='goToRecipe(recipe.title)'>{{recipe.title}}</p>
    </li>
  </ul>
</div>
<div id = "profilegroups" class = "col-md-4">
<h4>Your Groups:</h4>
  <ul>
    <li ng-repeat="group in usergroups">
    	<p ng-click='goToGroup(1)'>{{group}}</p>
    </li>
  </ul>
</div>

