/*CSS which will override Bootstrap CSS thoughout the site*/

img {
  max-height: 100%;
  max-width: 100%;
}

.content {
  margin-top: 70px;
}

.navbar-nav li:active{
  color: #555;
  background-color: #e7e7e7;
}

.form-signin {
  margin: 0 auto;
  max-width: 30em;
}

.btn-lg {
  margin-top: 1em;
}

.signup-toggle {
  cursor: pointer;
}

.carousel {
  width:700px;
  height:360px;
}

